CREATE TABLE IF NOT EXISTS tab_log (
  id bigint(20)  NOT NULL  auto_increment,
  userName varchar(20) default NULL,
  userId bigint(20) default NULL,
  action varchar(200) default NULL,
  time timestamp default CURRENT_TIMESTAMP,
  type varchar(20) default NULL,
  detail blob,
  ip varchar(20),
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS tab_menu (
  id int(11) NOT NULL auto_increment,
  menuName varchar(100) default NULL,
  url varchar(100) default '/',
  parentId int(11) default NULL,
  level int(2) default '0' COMMENT '菜单级数的标识',
  deleteFlag bit(1) default NULL,
  domainNo int(11) default NULL,
  createBy bigint(11) default NULL,
  code varchar(20) default NULL,
  parentCode varchar(20) default NULL,
  menuOrder int(11) DEFAULT '0',
  isFinal bit(1) default b'0',
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;



CREATE TABLE IF NOT EXISTS tab_permission (
  id int(11) NOT NULL auto_increment,
  name varchar(200) default NULL,
  code varchar(20) NOT NULL,
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE IF NOT EXISTS tab_role (
  id int(11) NOT NULL auto_increment,
  roleName varchar(50) default NULL,
  parentId int(11) default NULL,
  createBy bigint(20) NOT NULL,
  deleteFlag bit(1) default NULL,
  domainNo int(11) default NULL,
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE IF NOT EXISTS tab_role_menu (
  roleId int(11) NOT NULL,
  menuId int(11) NOT NULL,
  parentId int(11) default NULL,
  KEY FK_tab_role_menu (menuId),
  CONSTRAINT FK_tab_role_menu FOREIGN KEY (menuId) REFERENCES tab_menu (id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE IF NOT EXISTS tab_role_permission (
  permissionId int(11) NOT NULL,
  roleId int(11) NOT NULL,
  PRIMARY KEY  (permissionId,roleId)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE IF NOT EXISTS tab_user (
  id bigint(11) unsigned NOT NULL auto_increment,
  userName varchar(50) default NULL,
  password varchar(50) default NULL,
  roleId int(11) default NULL,
  realName varchar(100) default NULL,
  active bit(1) default NULL,
  createTime datetime default NULL,
  lastLoginTime datetime default NULL,
  sex smallint(1) NOT NULL default '0',
  contact varchar(100) default NULL,
  createBy bigint(11) default NULL,
  domainNo int(11) default NULL,
  deleteFlag bit(1) default NULL,
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE IF NOT EXISTS tab_dictionary (
  id bigint(11) NOT NULL auto_increment,
  code varchar(20),
  name varchar(50),
  parentId int(11) default NULL,
  deleteFlag bit(1) default b'0',
  domainNo int(11) default 0,
  isFinal bit(1) default b'0',
  PRIMARY KEY  (id)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS tab_setting(
  id INT(5) NOT NULL auto_increment,
  name VARCHAR(30),
  value VARCHAR(100),
  PRIMARY KEY (`id`)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;