@CHARSET "UTF-8";
.system-info-container{
    padding-top:30px;
    color:#C4BDC3;
    margin-left:-150%;
}
.system-info {
    text-align: center;
    font-size: 20px;
    padding:10px;
}

input[type="text"],input[type="password"]{
    background: url('../images/input.png');
    border: 0;
    outline: none;
    height: 40px;
    width: 330px;
    line-height: 30px;
    text-align: center;
    font-size:25px;
    color:#FFFFFF;
    padding-left: 35px;
}

.bg-image{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.body{
    margin:0;
    background: url("../images/bg.png");
}

.form-inline{
    /*margin-bottom: 20px;*/
    margin: 5px;
    display: inline-block;;
}

.form-container{
    text-align: center;
    position: absolute;
    top: 50%;
    /* margin-top: -120px; */
    margin-top:-50%;
    left: 50%;
    margin-left: -430px;
}

.input-icon{
    color: #FFFFFF;
    font-size: 25px;
    margin-right: -40px;
    margin-left: 10px;
}

input[type="button"]{
    width: 90px;
    font-size: 20px;
    height: 46px;
    margin-left: -11px;
}

#submit{
    /*margin-right:25px;*/
    margin-bottom: 11px;
    margin-left: -1px;
}

.title{
    color: white;
    font-size: 70px;
    font-family: cursive;
}

.sub-title{
    color: #816944;
    font-size: 25px;
    margin-left:20px;
}

.split-line{
    border: solid 1px rgba(159, 185, 231, 0.08);
    margin: 40px 0;
    width: 120%;
    display: inline-block;
    margin-left: -10%;
}

.footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #ccc;
    margin-left: -250px;
}