@CHARSET "UTF-8";
.addIcon{
	background:  url(images/badge-circle-plus-16.png) no-repeat center left;
}

.deleteIcon{
	background:  url(images/badge-circle-minus-16.png) no-repeat center left;
}

.editIcon{
	background:  url(images/page-pencil-16.png) no-repeat center left;
}

.branchIcon{
	background:  url(images/arrow-branch-bgr-16.png) no-repeat center left;
}


.loading{
	background:  url(images/loading.gif) no-repeat center center;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	display:inline-block;
}