@CHARSET "UTF-8";
.h-center{
	text-align: center;
}

.main-container{
	position: absolute;
	top: 42px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: none;
	overflow: hidden;
}

.navbar{
  background: #000;
}


.main-container iframe{
	position: absolute;
	border: none;
	width: 100%;
	height: 100%;
}