<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.greejoy.rbac.repository.MenuRepository">
     <select id="getParent" resultType="com.greejoy.rbac.domain.MenuDomain">
        select * from tab_menu where id = #{id}
    </select>
</mapper>