<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moon.dictionary.repository.DictionaryRepository">

    <select id="listWithChildrenStatus" resultType="HashMap">
        SELECT d.*,CASE WHEN COUNT(td.id)>0 THEN TRUE ELSE FALSE END AS _hasChildren
        FROM tab_dictionary d
        LEFT JOIN tab_dictionary td
        ON d.id = td.`parentId`
        WHERE
        <if test="parentId!=null">
            d.parentId = #{parentId}
        </if>
        <if test="parentId==null">
            d.parentId is null
        </if>
        GROUP BY d.id
    </select>

    <select id="listWithChildrenStatus_count" resultType="Integer">
        select count(*)
        from tab_dictionary
        WHERE
        <if test="parentId!=null">
            parentId = #{parentId}
        </if>
        <if test="parentId==null">
            parentId is null
        </if>
    </select>

    <select id="listChildrenByCode" resultType="HashMap">
        SELECT d.*
        FROM tab_dictionary d
        WHERE parentId = (SELECT id FROM tab_dictionary WHERE CODE = #{code})
    </select>

    <insert id="add">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert  into tab_dictionary(name,code,parentId<if test="isFinal!=null">,isFinal</if>)
        values
        (#{name},#{code},#{parentId}<if test="isFinal!=null">,#{isFinal}</if>);
    </insert>

    <select id="getDictionaryByCode" resultType="HashMap">
        select *
        from tab_dictionary dic
        where dic.code = #{code} and parentId is null
    </select>
</mapper>