<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moon.rbac.repository.PermissionRepository">

  <insert id="batchSave">
    insert tab_permission (code,name) values
    <foreach collection="permissions" separator="," item="permission">( #{permission.code},#{permission.name})</foreach>
  </insert>

  <insert id="assignAddPermission">
    insert tab_role_permission values
    <foreach collection="rids" item="rid" separator=",">
      <foreach collection="pids" item="pid" separator=",">(#{pid},#{rid})</foreach>
    </foreach>
  </insert>
  
  <delete id="assignDeletePermission">
    delete from tab_role_permission where
    role_id in (-1
    <foreach collection="rids" item="rid" open="," separator=",">#{rid}</foreach>
    )
    and permission_id in(-1
    <foreach collection="pids" item="pid" open="," separator=",">#{pid}</foreach>
    )
  </delete>

  <select id="getPermissionsByRole" resultType="CamelbakKeyResultMap">
    SELECT tp.*
    FROM tab_permission tp
    JOIN tab_role_permission trp
    ON tp.id = trp.permissionId
    AND trp.roleId = #{rid}
  </select>

</mapper>