<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.moon.rbac.repository.RoleRepository">

	<update id="assign" parameterType="Map">
		UPDATE tab_user 
		SET role_id = #{rid} 
		WHERE id = #{uid}
	</update>

	<select id="getSubRoles" resultType="Long">
		SELECT id 
		FROM tab_role 
		WHERE parent_id
		<if test="rid==null">is null</if>
		<if test="rid!=null">= #{rid}</if>
		AND delete_flag = false
	</select>

	<select id="hasPermission" resultType="Boolean">
		SELECT COUNT(*) 
		FROM tab_role_permission trp
		JOIN tab_permission tp 
		ON trp.permission_id = tp.id AND tp.code=#{code} AND trp.role_id=#{rid}
	</select>
	
	<select id="hasMenu" resultType="Boolean">
		SELECT COUNT(*) 
		FROM tab_role_Menu trm
		JOIN tab_menu tm 
		ON trm.menu_id = tm.id	AND	tm.code=#{code} AND trm.role_id=#{rid}
	</select>
</mapper>